<!--Sintaxis de HTML-->
<h1>Hola mundo</h1>
<p>Yo soy un parrafo</p>
<!--Etiqueta Vacias-->
<img src="https://as00.epimg.net/img/comunes/fotos/fichas/equipos/large/3855.png" width="100">
<!--Atributos
    <tag Atributos="valor">

        Tambien existen atributos booleanos (no Tienen valor)
    <input type="email" required>
    <input type="password" required>
    <input type="submit">
-->

<form>
    <input type="email" required> <!--required campo obligatorio-->
    <input type="password" required>
    <input type="submit">
</form>

